* {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #174b52;
}

.container {
  position: relative;
  max-width: 1140px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./assets/images/rock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: initial;
  background-position: bottom;
  height: 550px;
  width: 1140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  padding-left: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  color: white;
}

.p2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: initial;
  background-position: bottom;
  height: 550px;
  width: 1140px;
}

h3 {
  font-family: 'Merriweather', serif;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #0a8f7d;
          text-decoration-color: #0a8f7d;
  font-size: 25px;
  color: white;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  color: white;
}

h3, p, .rocket {
  padding-left: 25px;
  padding-top: 7px;
}

.p3 {
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: initial;
  background-position: bottom;
  height: 550px;
  width: 1140px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons {
  background-color: #0f253a;
  padding-right: 70px;
  padding-left: 55px;
  padding-bottom: 10px;
}

button {
  margin-left: 20px;
  margin-top: 5px;
  border-style: none;
  background: none;
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.movement {
  color: #0a8f7d;
}

.midButton {
  color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
/*# sourceMappingURL=moonStyle.css.map */