*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(15, 37, 58);
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    position: relative;
    max-width: 1140px;                   
    // overflow: hidden;
}

.slider{
    display: flex;
    flex-direction: row;
}

.p1{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/images/rock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
    width: 1140px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: white;
}
.p2{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 585px;
    width: 1140px;
}
h3{
    font-family: 'Merriweather', serif;
    text-decoration-line: underline;
    text-decoration-color:rgb(10, 143, 125);
    font-size: 25px;
    color: white;
}
p{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: white;
}
.p3{
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
    width: 1140px;
    overflow: hidden;
}

button{
    margin-left: 20px;
    margin-top: 5px;
    border-style: none;
    background:none;
    font-family: 'Merriweather', serif;
    font-size: 25px;
}    
.movement{
    color: rgb(10, 143, 125);
    
}
.midButton{
    color: white;
    text-decoration-line:underline ;
}